.avatar {
  margin: 5px;
  border-radius: 50%;
  min-height: 70px;
}
.profile {
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px;
}
h1,
h2 {
  margin: 5px;
}
h1 {
  margin-bottom: 10px;
}
ul {
  padding: 0px 10px 0px 20px;
}
li {
  margin: 5px;
}
